<div class="main-container">
    <div class="grid-container">
        <div class="header-toolbar">
            <div class="el-container">
                <button class="btn btn-primary" (click)="switchSelection()">
                    switch selection
                </button>
            </div>
            <div class="el-container">
                <span>Total count {{totalCount}}</span>
            </div>
            <div class="el-container">
                <span [hidden] = "!selection">Selcted count {{selectedCount}}</span>
            </div>
        </div>
        <ag-grid-angular #myGrid class="ag-theme-balham scrollbar" [gridOptions]="gridOptions" [modules]="modules" (gridReady)="onGridReady($event)"
            [allowContextMenuWithControlKey]="true" [getContextMenuItems]="getContextMenuItems">
        </ag-grid-angular>
    </div>
</div>