<div class="main-container">
    <div class="grid-container">
        <div class="header-toolbar">
            <div class="el-container" *ngIf = "!selectionEnabled">
                <button class="btn btn-primary" (click)="switchSelection()">
                    enable selection
                </button>
            </div>
            <div class="el-container" *ngIf = "selectionEnabled">
                <button class="btn btn-secondary" (click)="switchSelection()">
                    disable selection
                </button>
            </div>
            <div class="el-container">
                <span>Total count {{totalCount}}</span>
            </div>
            <div class="el-container">
                <span [hidden] = "!selectionEnabled">Selcted count {{selectedCount}}</span>
            </div>
        </div>
        <ag-grid-angular 
        class="ag-theme-balham scrollbar" 
        [gridOptions]="gridOptions" 
        [modules]="modules" 
        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>